:root {
  --color-accent: oklch(65% 50% 0);
  color-scheme: light dark;
}
html {
  accent-color: var(--color-accent);
  border-bottom-color: oklch(50% 10% 200 / 40%);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  background-color: Canvas;
  color: CanvasText;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  display: flex;
  margin-bottom: 0.25em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  }
nav a.current {
  padding-bottom: 0.1em;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}
nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input, textarea, button {
  font-family: inherit;
}
/* label, input, textarea, button {
  display: grid;
}
input, textarea, button {
  width: 100%;
  box-sizing: border-box;
}
label {
  margin-block: 1em;
} */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
button[type="submit"] {
  grid-column: 1 / -1;
}

div.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap:1em;
}
div.projects article{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
div.projects article h2{
  margin: 0;
}

h1{
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
}
header.cv{
  text-align: center;
}
header.cv h1, header.cv p{
  line-height: 0.1;
}
header.cv p{
  font-size: 110%;
}

.item-info {
  display: flex;
  justify-content: space-between; /* Distributes elements across the container */
}
.cv {
  margin-top: 0;
  margin-bottom: 0; /* Remove the bottom margin of the header */
}
ul {
  margin-top: 1; /* Remove the top margin of the list */
  /*padding-left: 0; /* Optional: Remove the default padding-left of the list */ 
}

label.color-scheme{
  position: absolute;
  top:1rem;
  right:1rem;
  font: 80%;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: grid;
}

/* Grid styling for the stats */
#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em 1em;
  margin: 0;
  padding: 0.5em 0;
}

#profile-stats dt {
  grid-row: 1;
  text-align: center;
  font-weight: bold;
  color: #555;
}

#profile-stats dd {
  grid-row: 2;
  text-align: center;
  margin: 0;
  font-size: 2em;
  color: #515356;
}
